<div>Person's Name: @person.Name</div>

@functions {
    [Parameter] Person person { get; set; }

    //protected async override Task OnInitAsync()
    //{
    //    await base.OnInitAsync();
    //    System.Timers.Timer timer = new System.Timers.Timer(10000);
    //    await Task.Delay(6000);
    //    StateHasChanged();
    //}
}