
<div class="boxed">
    <h4>DisplayPerson Component</h4>
    <DisplayPerson3></DisplayPerson3>
</div>
<div class="boxed">
    <h4>UpdatePerson Componet</h4>
    <UpdatePerson3></UpdatePerson3>
</div>